/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.PixelArt.VC.VC.opendb
/GLES3.PixelArt.VC.db
/GLES3.PixelArt.aps
/GLES3.PixelArt.manifest
/GLES3.PixelArt.opensdf
/GLES3.PixelArt.rc
/GLES3.PixelArt.sdf
/GLES3.PixelArt.sln
/GLES3.PixelArt.v12.sdf
/GLES3.PixelArt.v12.suo
/GLES3.PixelArt.vcxproj
/GLES3.PixelArt.vcxproj.filters
/GLES3.PixelArt.vcxproj.user
/GLES3.PixelArt___*.VC.VC.opendb
/GLES3.PixelArt___*.VC.db
/GLES3.PixelArt___*.aps
/GLES3.PixelArt___*.manifest
/GLES3.PixelArt___*.opensdf
/GLES3.PixelArt___*.rc
/GLES3.PixelArt___*.sdf
/GLES3.PixelArt___*.sln
/GLES3.PixelArt___*.v12.sdf
/GLES3.PixelArt___*.v12.suo
/GLES3.PixelArt___*.vcxproj
/GLES3.PixelArt___*.vcxproj.filters
/GLES3.PixelArt___*.vcxproj.user
/build/
/resource.h
