/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/TestGraphics/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.UI.PixelPerfect.VC.VC.opendb
/GLES2.UI.PixelPerfect.VC.db
/GLES2.UI.PixelPerfect.aps
/GLES2.UI.PixelPerfect.manifest
/GLES2.UI.PixelPerfect.opensdf
/GLES2.UI.PixelPerfect.rc
/GLES2.UI.PixelPerfect.sdf
/GLES2.UI.PixelPerfect.sln
/GLES2.UI.PixelPerfect.v12.sdf
/GLES2.UI.PixelPerfect.v12.suo
/GLES2.UI.PixelPerfect.vcxproj
/GLES2.UI.PixelPerfect.vcxproj.filters
/GLES2.UI.PixelPerfect.vcxproj.user
/GLES2.UI.PixelPerfect___*.VC.VC.opendb
/GLES2.UI.PixelPerfect___*.VC.db
/GLES2.UI.PixelPerfect___*.aps
/GLES2.UI.PixelPerfect___*.manifest
/GLES2.UI.PixelPerfect___*.opensdf
/GLES2.UI.PixelPerfect___*.rc
/GLES2.UI.PixelPerfect___*.sdf
/GLES2.UI.PixelPerfect___*.sln
/GLES2.UI.PixelPerfect___*.v12.sdf
/GLES2.UI.PixelPerfect___*.v12.suo
/GLES2.UI.PixelPerfect___*.vcxproj
/GLES2.UI.PixelPerfect___*.vcxproj.filters
/GLES2.UI.PixelPerfect___*.vcxproj.user
/build/
/resource.h
