/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.Gestures.VC.VC.opendb
/Vulkan.UI.Gestures.VC.db
/Vulkan.UI.Gestures.aps
/Vulkan.UI.Gestures.manifest
/Vulkan.UI.Gestures.opensdf
/Vulkan.UI.Gestures.rc
/Vulkan.UI.Gestures.sdf
/Vulkan.UI.Gestures.sln
/Vulkan.UI.Gestures.v12.sdf
/Vulkan.UI.Gestures.v12.suo
/Vulkan.UI.Gestures.vcxproj
/Vulkan.UI.Gestures.vcxproj.filters
/Vulkan.UI.Gestures.vcxproj.user
/Vulkan.UI.Gestures___*.VC.VC.opendb
/Vulkan.UI.Gestures___*.VC.db
/Vulkan.UI.Gestures___*.aps
/Vulkan.UI.Gestures___*.manifest
/Vulkan.UI.Gestures___*.opensdf
/Vulkan.UI.Gestures___*.rc
/Vulkan.UI.Gestures___*.sdf
/Vulkan.UI.Gestures___*.sln
/Vulkan.UI.Gestures___*.v12.sdf
/Vulkan.UI.Gestures___*.v12.suo
/Vulkan.UI.Gestures___*.vcxproj
/Vulkan.UI.Gestures___*.vcxproj.filters
/Vulkan.UI.Gestures___*.vcxproj.user
/build/
/resource.h
