/.vs/
/FslDemoService.SystemStats.Control.VC.VC.opendb
/FslDemoService.SystemStats.Control.VC.db
/FslDemoService.SystemStats.Control.manifest
/FslDemoService.SystemStats.Control.opensdf
/FslDemoService.SystemStats.Control.sdf
/FslDemoService.SystemStats.Control.sln
/FslDemoService.SystemStats.Control.v12.sdf
/FslDemoService.SystemStats.Control.v12.suo
/FslDemoService.SystemStats.Control.vcxproj
/FslDemoService.SystemStats.Control.vcxproj.filters
/FslDemoService.SystemStats.Control.vcxproj.user
/build/
