/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslDemoApp.Window.VC.VC.opendb
/FslDemoApp.Window.VC.db
/FslDemoApp.Window.manifest
/FslDemoApp.Window.opensdf
/FslDemoApp.Window.sdf
/FslDemoApp.Window.sln
/FslDemoApp.Window.v12.sdf
/FslDemoApp.Window.v12.suo
/FslDemoApp.Window.vcxproj
/FslDemoApp.Window.vcxproj.filters
/FslDemoApp.Window.vcxproj.user
/FslDemoApp.Window___*.VC.VC.opendb
/FslDemoApp.Window___*.VC.db
/FslDemoApp.Window___*.manifest
/FslDemoApp.Window___*.opensdf
/FslDemoApp.Window___*.sdf
/FslDemoApp.Window___*.sln
/FslDemoApp.Window___*.v12.sdf
/FslDemoApp.Window___*.v12.suo
/FslDemoApp.Window___*.vcxproj
/FslDemoApp.Window___*.vcxproj.filters
/FslDemoApp.Window___*.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
