/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslDemoHost.Window.VC.VC.opendb
/FslDemoHost.Window.VC.db
/FslDemoHost.Window.manifest
/FslDemoHost.Window.opensdf
/FslDemoHost.Window.sdf
/FslDemoHost.Window.sln
/FslDemoHost.Window.v12.sdf
/FslDemoHost.Window.v12.suo
/FslDemoHost.Window.vcxproj
/FslDemoHost.Window.vcxproj.filters
/FslDemoHost.Window.vcxproj.user
/FslDemoHost.Window___*.VC.VC.opendb
/FslDemoHost.Window___*.VC.db
/FslDemoHost.Window___*.manifest
/FslDemoHost.Window___*.opensdf
/FslDemoHost.Window___*.sdf
/FslDemoHost.Window___*.sln
/FslDemoHost.Window___*.v12.sdf
/FslDemoHost.Window___*.v12.suo
/FslDemoHost.Window___*.vcxproj
/FslDemoHost.Window___*.vcxproj.filters
/FslDemoHost.Window___*.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
