/.vs/
/Shared.FramePacing.EGL.VC.VC.opendb
/Shared.FramePacing.EGL.VC.db
/Shared.FramePacing.EGL.manifest
/Shared.FramePacing.EGL.opensdf
/Shared.FramePacing.EGL.sdf
/Shared.FramePacing.EGL.sln
/Shared.FramePacing.EGL.v12.sdf
/Shared.FramePacing.EGL.v12.suo
/Shared.FramePacing.EGL.vcxproj
/Shared.FramePacing.EGL.vcxproj.filters
/Shared.FramePacing.EGL.vcxproj.user
/Shared.FramePacing.EGL___*.VC.VC.opendb
/Shared.FramePacing.EGL___*.VC.db
/Shared.FramePacing.EGL___*.manifest
/Shared.FramePacing.EGL___*.opensdf
/Shared.FramePacing.EGL___*.sdf
/Shared.FramePacing.EGL___*.sln
/Shared.FramePacing.EGL___*.v12.sdf
/Shared.FramePacing.EGL___*.v12.suo
/Shared.FramePacing.EGL___*.vcxproj
/Shared.FramePacing.EGL___*.vcxproj.filters
/Shared.FramePacing.EGL___*.vcxproj.user
/build/
