/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Models/
/Content/Shaders/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.Bloom.VC.VC.opendb
/Vulkan.Bloom.VC.db
/Vulkan.Bloom.aps
/Vulkan.Bloom.manifest
/Vulkan.Bloom.opensdf
/Vulkan.Bloom.rc
/Vulkan.Bloom.sdf
/Vulkan.Bloom.sln
/Vulkan.Bloom.v12.sdf
/Vulkan.Bloom.v12.suo
/Vulkan.Bloom.vcxproj
/Vulkan.Bloom.vcxproj.filters
/Vulkan.Bloom.vcxproj.user
/Vulkan.Bloom___*.VC.VC.opendb
/Vulkan.Bloom___*.VC.db
/Vulkan.Bloom___*.aps
/Vulkan.Bloom___*.manifest
/Vulkan.Bloom___*.opensdf
/Vulkan.Bloom___*.rc
/Vulkan.Bloom___*.sdf
/Vulkan.Bloom___*.sln
/Vulkan.Bloom___*.v12.sdf
/Vulkan.Bloom___*.v12.suo
/Vulkan.Bloom___*.vcxproj
/Vulkan.Bloom___*.vcxproj.filters
/Vulkan.Bloom___*.vcxproj.user
/build/
/resource.h
