/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/CustomAtlas/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.SmoothScroll.VC.VC.opendb
/Vulkan.UI.SmoothScroll.VC.db
/Vulkan.UI.SmoothScroll.aps
/Vulkan.UI.SmoothScroll.manifest
/Vulkan.UI.SmoothScroll.opensdf
/Vulkan.UI.SmoothScroll.rc
/Vulkan.UI.SmoothScroll.sdf
/Vulkan.UI.SmoothScroll.sln
/Vulkan.UI.SmoothScroll.v12.sdf
/Vulkan.UI.SmoothScroll.v12.suo
/Vulkan.UI.SmoothScroll.vcxproj
/Vulkan.UI.SmoothScroll.vcxproj.filters
/Vulkan.UI.SmoothScroll.vcxproj.user
/Vulkan.UI.SmoothScroll___*.VC.VC.opendb
/Vulkan.UI.SmoothScroll___*.VC.db
/Vulkan.UI.SmoothScroll___*.aps
/Vulkan.UI.SmoothScroll___*.manifest
/Vulkan.UI.SmoothScroll___*.opensdf
/Vulkan.UI.SmoothScroll___*.rc
/Vulkan.UI.SmoothScroll___*.sdf
/Vulkan.UI.SmoothScroll___*.sln
/Vulkan.UI.SmoothScroll___*.v12.sdf
/Vulkan.UI.SmoothScroll___*.v12.suo
/Vulkan.UI.SmoothScroll___*.vcxproj
/Vulkan.UI.SmoothScroll___*.vcxproj.filters
/Vulkan.UI.SmoothScroll___*.vcxproj.user
/build/
/resource.h
