/.vs/
/FslDemoService.SystemStats.VC.VC.opendb
/FslDemoService.SystemStats.VC.db
/FslDemoService.SystemStats.manifest
/FslDemoService.SystemStats.opensdf
/FslDemoService.SystemStats.sdf
/FslDemoService.SystemStats.sln
/FslDemoService.SystemStats.v12.sdf
/FslDemoService.SystemStats.v12.suo
/FslDemoService.SystemStats.vcxproj
/FslDemoService.SystemStats.vcxproj.filters
/FslDemoService.SystemStats.vcxproj.user
/build/
