/.vs/
/Shared.PixelArt.Base.VC.VC.opendb
/Shared.PixelArt.Base.VC.db
/Shared.PixelArt.Base.manifest
/Shared.PixelArt.Base.opensdf
/Shared.PixelArt.Base.sdf
/Shared.PixelArt.Base.sln
/Shared.PixelArt.Base.v12.sdf
/Shared.PixelArt.Base.v12.suo
/Shared.PixelArt.Base.vcxproj
/Shared.PixelArt.Base.vcxproj.filters
/Shared.PixelArt.Base.vcxproj.user
/build/
