/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenVG.VGStressTest
/OpenVG.VGStressTest.VC.VC.opendb
/OpenVG.VGStressTest.VC.db
/OpenVG.VGStressTest.aps
/OpenVG.VGStressTest.manifest
/OpenVG.VGStressTest.opensdf
/OpenVG.VGStressTest.rc
/OpenVG.VGStressTest.sdf
/OpenVG.VGStressTest.sln
/OpenVG.VGStressTest.v12.sdf
/OpenVG.VGStressTest.v12.suo
/OpenVG.VGStressTest.vcxproj
/OpenVG.VGStressTest.vcxproj.filters
/OpenVG.VGStressTest.vcxproj.user
/OpenVG.VGStressTest_FB
/OpenVG.VGStressTest_Wayland
/OpenVG.VGStressTest_X11
/OpenVG.VGStressTest___*.VC.VC.opendb
/OpenVG.VGStressTest___*.VC.db
/OpenVG.VGStressTest___*.aps
/OpenVG.VGStressTest___*.manifest
/OpenVG.VGStressTest___*.opensdf
/OpenVG.VGStressTest___*.rc
/OpenVG.VGStressTest___*.sdf
/OpenVG.VGStressTest___*.sln
/OpenVG.VGStressTest___*.v12.sdf
/OpenVG.VGStressTest___*.v12.suo
/OpenVG.VGStressTest___*.vcxproj
/OpenVG.VGStressTest___*.vcxproj.filters
/OpenVG.VGStressTest___*.vcxproj.user
/VGStressTest
/VGStressTest_FB
/VGStressTest_FB_d
/VGStressTest_Wayland
/VGStressTest_Wayland_IVI
/VGStressTest_Wayland_IVI_d
/VGStressTest_Wayland_d
/VGStressTest_X11
/VGStressTest_X11_d
/VGStressTest_d
/build/
/resource.h
