/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.VulkanWillemsMeshDemoAppExperimental.VC.VC.opendb
/Shared.VulkanWillemsMeshDemoAppExperimental.VC.db
/Shared.VulkanWillemsMeshDemoAppExperimental.manifest
/Shared.VulkanWillemsMeshDemoAppExperimental.opensdf
/Shared.VulkanWillemsMeshDemoAppExperimental.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental.sln
/Shared.VulkanWillemsMeshDemoAppExperimental.v12.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental.v12.suo
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj.filters
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj.user
/Shared.VulkanWillemsMeshDemoAppExperimental___*.VC.VC.opendb
/Shared.VulkanWillemsMeshDemoAppExperimental___*.VC.db
/Shared.VulkanWillemsMeshDemoAppExperimental___*.manifest
/Shared.VulkanWillemsMeshDemoAppExperimental___*.opensdf
/Shared.VulkanWillemsMeshDemoAppExperimental___*.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___*.sln
/Shared.VulkanWillemsMeshDemoAppExperimental___*.v12.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___*.v12.suo
/Shared.VulkanWillemsMeshDemoAppExperimental___*.vcxproj
/Shared.VulkanWillemsMeshDemoAppExperimental___*.vcxproj.filters
/Shared.VulkanWillemsMeshDemoAppExperimental___*.vcxproj.user
/build/
