/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/OpenCV101
/OpenCV101_c
/OpenCV101_d
/Vulkan.OpenCV101.VC.VC.opendb
/Vulkan.OpenCV101.VC.db
/Vulkan.OpenCV101.aps
/Vulkan.OpenCV101.manifest
/Vulkan.OpenCV101.opensdf
/Vulkan.OpenCV101.rc
/Vulkan.OpenCV101.sdf
/Vulkan.OpenCV101.sln
/Vulkan.OpenCV101.v12.sdf
/Vulkan.OpenCV101.v12.suo
/Vulkan.OpenCV101.vcxproj
/Vulkan.OpenCV101.vcxproj.filters
/Vulkan.OpenCV101.vcxproj.user
/Vulkan.OpenCV101___*.VC.VC.opendb
/Vulkan.OpenCV101___*.VC.db
/Vulkan.OpenCV101___*.aps
/Vulkan.OpenCV101___*.manifest
/Vulkan.OpenCV101___*.opensdf
/Vulkan.OpenCV101___*.rc
/Vulkan.OpenCV101___*.sdf
/Vulkan.OpenCV101___*.sln
/Vulkan.OpenCV101___*.v12.sdf
/Vulkan.OpenCV101___*.v12.suo
/Vulkan.OpenCV101___*.vcxproj
/Vulkan.OpenCV101___*.vcxproj.filters
/Vulkan.OpenCV101___*.vcxproj.user
/build/
/resource.h
