/.vs/
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.System.DevBasicRender.VC.VC.opendb
/GLES3.System.DevBasicRender.VC.db
/GLES3.System.DevBasicRender.aps
/GLES3.System.DevBasicRender.manifest
/GLES3.System.DevBasicRender.opensdf
/GLES3.System.DevBasicRender.rc
/GLES3.System.DevBasicRender.sdf
/GLES3.System.DevBasicRender.sln
/GLES3.System.DevBasicRender.v12.sdf
/GLES3.System.DevBasicRender.v12.suo
/GLES3.System.DevBasicRender.vcxproj
/GLES3.System.DevBasicRender.vcxproj.filters
/GLES3.System.DevBasicRender.vcxproj.user
/GLES3.System.DevBasicRender___*.VC.VC.opendb
/GLES3.System.DevBasicRender___*.VC.db
/GLES3.System.DevBasicRender___*.aps
/GLES3.System.DevBasicRender___*.manifest
/GLES3.System.DevBasicRender___*.opensdf
/GLES3.System.DevBasicRender___*.rc
/GLES3.System.DevBasicRender___*.sdf
/GLES3.System.DevBasicRender___*.sln
/GLES3.System.DevBasicRender___*.v12.sdf
/GLES3.System.DevBasicRender___*.v12.suo
/GLES3.System.DevBasicRender___*.vcxproj
/GLES3.System.DevBasicRender___*.vcxproj.filters
/GLES3.System.DevBasicRender___*.vcxproj.user
/build/
/resource.h
