/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.PixelArt.VC.VC.opendb
/Vulkan.PixelArt.VC.db
/Vulkan.PixelArt.aps
/Vulkan.PixelArt.manifest
/Vulkan.PixelArt.opensdf
/Vulkan.PixelArt.rc
/Vulkan.PixelArt.sdf
/Vulkan.PixelArt.sln
/Vulkan.PixelArt.v12.sdf
/Vulkan.PixelArt.v12.suo
/Vulkan.PixelArt.vcxproj
/Vulkan.PixelArt.vcxproj.filters
/Vulkan.PixelArt.vcxproj.user
/build/
/resource.h
