/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslNativeWindow.Platform.VC.VC.opendb
/FslNativeWindow.Platform.VC.db
/FslNativeWindow.Platform.manifest
/FslNativeWindow.Platform.opensdf
/FslNativeWindow.Platform.sdf
/FslNativeWindow.Platform.sln
/FslNativeWindow.Platform.v12.sdf
/FslNativeWindow.Platform.v12.suo
/FslNativeWindow.Platform.vcxproj
/FslNativeWindow.Platform.vcxproj.filters
/FslNativeWindow.Platform.vcxproj.user
/FslNativeWindow.Platform___*.VC.VC.opendb
/FslNativeWindow.Platform___*.VC.db
/FslNativeWindow.Platform___*.manifest
/FslNativeWindow.Platform___*.opensdf
/FslNativeWindow.Platform___*.sdf
/FslNativeWindow.Platform___*.sln
/FslNativeWindow.Platform___*.v12.sdf
/FslNativeWindow.Platform___*.v12.suo
/FslNativeWindow.Platform___*.vcxproj
/FslNativeWindow.Platform___*.vcxproj.filters
/FslNativeWindow.Platform___*.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
