/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslDemoApp.OpenVG.VC.VC.opendb
/FslDemoApp.OpenVG.VC.db
/FslDemoApp.OpenVG.manifest
/FslDemoApp.OpenVG.opensdf
/FslDemoApp.OpenVG.sdf
/FslDemoApp.OpenVG.sln
/FslDemoApp.OpenVG.v12.sdf
/FslDemoApp.OpenVG.v12.suo
/FslDemoApp.OpenVG.vcxproj
/FslDemoApp.OpenVG.vcxproj.filters
/FslDemoApp.OpenVG.vcxproj.user
/FslDemoApp.OpenVG___*.VC.VC.opendb
/FslDemoApp.OpenVG___*.VC.db
/FslDemoApp.OpenVG___*.manifest
/FslDemoApp.OpenVG___*.opensdf
/FslDemoApp.OpenVG___*.sdf
/FslDemoApp.OpenVG___*.sln
/FslDemoApp.OpenVG___*.v12.sdf
/FslDemoApp.OpenVG___*.v12.suo
/FslDemoApp.OpenVG___*.vcxproj
/FslDemoApp.OpenVG___*.vcxproj.filters
/FslDemoApp.OpenVG___*.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
