/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenVG.SimpleBench
/OpenVG.SimpleBench.VC.VC.opendb
/OpenVG.SimpleBench.VC.db
/OpenVG.SimpleBench.aps
/OpenVG.SimpleBench.manifest
/OpenVG.SimpleBench.opensdf
/OpenVG.SimpleBench.rc
/OpenVG.SimpleBench.sdf
/OpenVG.SimpleBench.sln
/OpenVG.SimpleBench.v12.sdf
/OpenVG.SimpleBench.v12.suo
/OpenVG.SimpleBench.vcxproj
/OpenVG.SimpleBench.vcxproj.filters
/OpenVG.SimpleBench.vcxproj.user
/OpenVG.SimpleBench_FB
/OpenVG.SimpleBench_Wayland
/OpenVG.SimpleBench_X11
/OpenVG.SimpleBench___*.VC.VC.opendb
/OpenVG.SimpleBench___*.VC.db
/OpenVG.SimpleBench___*.aps
/OpenVG.SimpleBench___*.manifest
/OpenVG.SimpleBench___*.opensdf
/OpenVG.SimpleBench___*.rc
/OpenVG.SimpleBench___*.sdf
/OpenVG.SimpleBench___*.sln
/OpenVG.SimpleBench___*.v12.sdf
/OpenVG.SimpleBench___*.v12.suo
/OpenVG.SimpleBench___*.vcxproj
/OpenVG.SimpleBench___*.vcxproj.filters
/OpenVG.SimpleBench___*.vcxproj.user
/SimpleBench
/SimpleBench_FB
/SimpleBench_FB_d
/SimpleBench_Wayland
/SimpleBench_Wayland_IVI
/SimpleBench_Wayland_IVI_d
/SimpleBench_Wayland_d
/SimpleBench_X11
/SimpleBench_X11_d
/SimpleBench_d
/build/
/resource.h
