/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.Stats.VC.VC.opendb
/GLES2.Stats.VC.db
/GLES2.Stats.aps
/GLES2.Stats.manifest
/GLES2.Stats.opensdf
/GLES2.Stats.rc
/GLES2.Stats.sdf
/GLES2.Stats.sln
/GLES2.Stats.v12.sdf
/GLES2.Stats.v12.suo
/GLES2.Stats.vcxproj
/GLES2.Stats.vcxproj.filters
/GLES2.Stats.vcxproj.user
/GLES2.Stats___*.VC.VC.opendb
/GLES2.Stats___*.VC.db
/GLES2.Stats___*.aps
/GLES2.Stats___*.manifest
/GLES2.Stats___*.opensdf
/GLES2.Stats___*.rc
/GLES2.Stats___*.sdf
/GLES2.Stats___*.sln
/GLES2.Stats___*.v12.sdf
/GLES2.Stats___*.v12.suo
/GLES2.Stats___*.vcxproj
/GLES2.Stats___*.vcxproj.filters
/GLES2.Stats___*.vcxproj.user
/GNUmakefile_Yocto
/Stats_FB
/Stats_FB_d
/Stats_Wayland
/Stats_Wayland_IVI
/Stats_Wayland_IVI_d
/Stats_Wayland_d
/Stats_X11
/Stats_X11_d
/build/
/resource.h
