/.vs/
/FslDemoApp.Vulkan.HDR.VC.VC.opendb
/FslDemoApp.Vulkan.HDR.VC.db
/FslDemoApp.Vulkan.HDR.manifest
/FslDemoApp.Vulkan.HDR.opensdf
/FslDemoApp.Vulkan.HDR.sdf
/FslDemoApp.Vulkan.HDR.sln
/FslDemoApp.Vulkan.HDR.v12.sdf
/FslDemoApp.Vulkan.HDR.v12.suo
/FslDemoApp.Vulkan.HDR.vcxproj
/FslDemoApp.Vulkan.HDR.vcxproj.filters
/FslDemoApp.Vulkan.HDR.vcxproj.user
/FslDemoApp.Vulkan.HDR___*.VC.VC.opendb
/FslDemoApp.Vulkan.HDR___*.VC.db
/FslDemoApp.Vulkan.HDR___*.manifest
/FslDemoApp.Vulkan.HDR___*.opensdf
/FslDemoApp.Vulkan.HDR___*.sdf
/FslDemoApp.Vulkan.HDR___*.sln
/FslDemoApp.Vulkan.HDR___*.v12.sdf
/FslDemoApp.Vulkan.HDR___*.v12.suo
/FslDemoApp.Vulkan.HDR___*.vcxproj
/FslDemoApp.Vulkan.HDR___*.vcxproj.filters
/FslDemoApp.Vulkan.HDR___*.vcxproj.user
/build/
