/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/TextureAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.UI.SimpleUI101.VC.VC.opendb
/GLES3.UI.SimpleUI101.VC.db
/GLES3.UI.SimpleUI101.aps
/GLES3.UI.SimpleUI101.manifest
/GLES3.UI.SimpleUI101.opensdf
/GLES3.UI.SimpleUI101.rc
/GLES3.UI.SimpleUI101.sdf
/GLES3.UI.SimpleUI101.sln
/GLES3.UI.SimpleUI101.v12.sdf
/GLES3.UI.SimpleUI101.v12.suo
/GLES3.UI.SimpleUI101.vcxproj
/GLES3.UI.SimpleUI101.vcxproj.filters
/GLES3.UI.SimpleUI101.vcxproj.user
/GLES3.UI.SimpleUI101___*.VC.VC.opendb
/GLES3.UI.SimpleUI101___*.VC.db
/GLES3.UI.SimpleUI101___*.aps
/GLES3.UI.SimpleUI101___*.manifest
/GLES3.UI.SimpleUI101___*.opensdf
/GLES3.UI.SimpleUI101___*.rc
/GLES3.UI.SimpleUI101___*.sdf
/GLES3.UI.SimpleUI101___*.sln
/GLES3.UI.SimpleUI101___*.v12.sdf
/GLES3.UI.SimpleUI101___*.v12.suo
/GLES3.UI.SimpleUI101___*.vcxproj
/GLES3.UI.SimpleUI101___*.vcxproj.filters
/GLES3.UI.SimpleUI101___*.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
