/.vs/
/Shared.PixelArt.API.Vulkan.VC.VC.opendb
/Shared.PixelArt.API.Vulkan.VC.db
/Shared.PixelArt.API.Vulkan.manifest
/Shared.PixelArt.API.Vulkan.opensdf
/Shared.PixelArt.API.Vulkan.sdf
/Shared.PixelArt.API.Vulkan.sln
/Shared.PixelArt.API.Vulkan.v12.sdf
/Shared.PixelArt.API.Vulkan.v12.suo
/Shared.PixelArt.API.Vulkan.vcxproj
/Shared.PixelArt.API.Vulkan.vcxproj.filters
/Shared.PixelArt.API.Vulkan.vcxproj.user
/build/
