/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.ShaderClock.VC.VC.opendb
/Vulkan.ShaderClock.VC.db
/Vulkan.ShaderClock.aps
/Vulkan.ShaderClock.manifest
/Vulkan.ShaderClock.opensdf
/Vulkan.ShaderClock.rc
/Vulkan.ShaderClock.sdf
/Vulkan.ShaderClock.sln
/Vulkan.ShaderClock.v12.sdf
/Vulkan.ShaderClock.v12.suo
/Vulkan.ShaderClock.vcxproj
/Vulkan.ShaderClock.vcxproj.filters
/Vulkan.ShaderClock.vcxproj.user
/Vulkan.ShaderClock___*.VC.VC.opendb
/Vulkan.ShaderClock___*.VC.db
/Vulkan.ShaderClock___*.aps
/Vulkan.ShaderClock___*.manifest
/Vulkan.ShaderClock___*.opensdf
/Vulkan.ShaderClock___*.rc
/Vulkan.ShaderClock___*.sdf
/Vulkan.ShaderClock___*.sln
/Vulkan.ShaderClock___*.v12.sdf
/Vulkan.ShaderClock___*.v12.suo
/Vulkan.ShaderClock___*.vcxproj
/Vulkan.ShaderClock___*.vcxproj.filters
/Vulkan.ShaderClock___*.vcxproj.user
/build/
/resource.h
