/.vs/
/Shared.PixelArt.API.OpenGLES3.VC.VC.opendb
/Shared.PixelArt.API.OpenGLES3.VC.db
/Shared.PixelArt.API.OpenGLES3.manifest
/Shared.PixelArt.API.OpenGLES3.opensdf
/Shared.PixelArt.API.OpenGLES3.sdf
/Shared.PixelArt.API.OpenGLES3.sln
/Shared.PixelArt.API.OpenGLES3.v12.sdf
/Shared.PixelArt.API.OpenGLES3.v12.suo
/Shared.PixelArt.API.OpenGLES3.vcxproj
/Shared.PixelArt.API.OpenGLES3.vcxproj.filters
/Shared.PixelArt.API.OpenGLES3.vcxproj.user
/build/
