/.vs/
/Shared.PixelArt.API.OpenGLES3.VC.VC.opendb
/Shared.PixelArt.API.OpenGLES3.VC.db
/Shared.PixelArt.API.OpenGLES3.manifest
/Shared.PixelArt.API.OpenGLES3.opensdf
/Shared.PixelArt.API.OpenGLES3.sdf
/Shared.PixelArt.API.OpenGLES3.sln
/Shared.PixelArt.API.OpenGLES3.v12.sdf
/Shared.PixelArt.API.OpenGLES3.v12.suo
/Shared.PixelArt.API.OpenGLES3.vcxproj
/Shared.PixelArt.API.OpenGLES3.vcxproj.filters
/Shared.PixelArt.API.OpenGLES3.vcxproj.user
/Shared.PixelArt.API.OpenGLES3___*.VC.VC.opendb
/Shared.PixelArt.API.OpenGLES3___*.VC.db
/Shared.PixelArt.API.OpenGLES3___*.manifest
/Shared.PixelArt.API.OpenGLES3___*.opensdf
/Shared.PixelArt.API.OpenGLES3___*.sdf
/Shared.PixelArt.API.OpenGLES3___*.sln
/Shared.PixelArt.API.OpenGLES3___*.v12.sdf
/Shared.PixelArt.API.OpenGLES3___*.v12.suo
/Shared.PixelArt.API.OpenGLES3___*.vcxproj
/Shared.PixelArt.API.OpenGLES3___*.vcxproj.filters
/Shared.PixelArt.API.OpenGLES3___*.vcxproj.user
/build/
