/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.Triangle.VC.VC.opendb
/Vulkan.Triangle.VC.db
/Vulkan.Triangle.aps
/Vulkan.Triangle.manifest
/Vulkan.Triangle.opensdf
/Vulkan.Triangle.rc
/Vulkan.Triangle.sdf
/Vulkan.Triangle.sln
/Vulkan.Triangle.v12.sdf
/Vulkan.Triangle.v12.suo
/Vulkan.Triangle.vcxproj
/Vulkan.Triangle.vcxproj.filters
/Vulkan.Triangle.vcxproj.user
/Vulkan.Triangle___*.VC.VC.opendb
/Vulkan.Triangle___*.VC.db
/Vulkan.Triangle___*.aps
/Vulkan.Triangle___*.manifest
/Vulkan.Triangle___*.opensdf
/Vulkan.Triangle___*.rc
/Vulkan.Triangle___*.sdf
/Vulkan.Triangle___*.sln
/Vulkan.Triangle___*.v12.sdf
/Vulkan.Triangle___*.v12.suo
/Vulkan.Triangle___*.vcxproj
/Vulkan.Triangle___*.vcxproj.filters
/Vulkan.Triangle___*.vcxproj.user
/build/
/resource.h
