/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.UI.Declarative.VC.VC.opendb
/GLES2.UI.Declarative.VC.db
/GLES2.UI.Declarative.aps
/GLES2.UI.Declarative.manifest
/GLES2.UI.Declarative.opensdf
/GLES2.UI.Declarative.rc
/GLES2.UI.Declarative.sdf
/GLES2.UI.Declarative.sln
/GLES2.UI.Declarative.v12.sdf
/GLES2.UI.Declarative.v12.suo
/GLES2.UI.Declarative.vcxproj
/GLES2.UI.Declarative.vcxproj.filters
/GLES2.UI.Declarative.vcxproj.user
/GLES2.UI.Declarative___*.VC.VC.opendb
/GLES2.UI.Declarative___*.VC.db
/GLES2.UI.Declarative___*.aps
/GLES2.UI.Declarative___*.manifest
/GLES2.UI.Declarative___*.opensdf
/GLES2.UI.Declarative___*.rc
/GLES2.UI.Declarative___*.sdf
/GLES2.UI.Declarative___*.sln
/GLES2.UI.Declarative___*.v12.sdf
/GLES2.UI.Declarative___*.v12.suo
/GLES2.UI.Declarative___*.vcxproj
/GLES2.UI.Declarative___*.vcxproj.filters
/GLES2.UI.Declarative___*.vcxproj.user
/build/
/resource.h
