/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/CustomAtlas/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.UI.SmoothScroll.VC.VC.opendb
/GLES2.UI.SmoothScroll.VC.db
/GLES2.UI.SmoothScroll.aps
/GLES2.UI.SmoothScroll.manifest
/GLES2.UI.SmoothScroll.opensdf
/GLES2.UI.SmoothScroll.rc
/GLES2.UI.SmoothScroll.sdf
/GLES2.UI.SmoothScroll.sln
/GLES2.UI.SmoothScroll.v12.sdf
/GLES2.UI.SmoothScroll.v12.suo
/GLES2.UI.SmoothScroll.vcxproj
/GLES2.UI.SmoothScroll.vcxproj.filters
/GLES2.UI.SmoothScroll.vcxproj.user
/GLES2.UI.SmoothScroll___*.VC.VC.opendb
/GLES2.UI.SmoothScroll___*.VC.db
/GLES2.UI.SmoothScroll___*.aps
/GLES2.UI.SmoothScroll___*.manifest
/GLES2.UI.SmoothScroll___*.opensdf
/GLES2.UI.SmoothScroll___*.rc
/GLES2.UI.SmoothScroll___*.sdf
/GLES2.UI.SmoothScroll___*.sln
/GLES2.UI.SmoothScroll___*.v12.sdf
/GLES2.UI.SmoothScroll___*.v12.suo
/GLES2.UI.SmoothScroll___*.vcxproj
/GLES2.UI.SmoothScroll___*.vcxproj.filters
/GLES2.UI.SmoothScroll___*.vcxproj.user
/build/
/resource.h
