/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/TextureAtlas/
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.FurShellRendering.VC.VC.opendb
/Vulkan.FurShellRendering.VC.db
/Vulkan.FurShellRendering.aps
/Vulkan.FurShellRendering.manifest
/Vulkan.FurShellRendering.opensdf
/Vulkan.FurShellRendering.rc
/Vulkan.FurShellRendering.sdf
/Vulkan.FurShellRendering.sln
/Vulkan.FurShellRendering.v12.sdf
/Vulkan.FurShellRendering.v12.suo
/Vulkan.FurShellRendering.vcxproj
/Vulkan.FurShellRendering.vcxproj.filters
/Vulkan.FurShellRendering.vcxproj.user
/Vulkan.FurShellRendering___*.VC.VC.opendb
/Vulkan.FurShellRendering___*.VC.db
/Vulkan.FurShellRendering___*.aps
/Vulkan.FurShellRendering___*.manifest
/Vulkan.FurShellRendering___*.opensdf
/Vulkan.FurShellRendering___*.rc
/Vulkan.FurShellRendering___*.sdf
/Vulkan.FurShellRendering___*.sln
/Vulkan.FurShellRendering___*.v12.sdf
/Vulkan.FurShellRendering___*.v12.suo
/Vulkan.FurShellRendering___*.vcxproj
/Vulkan.FurShellRendering___*.vcxproj.filters
/Vulkan.FurShellRendering___*.vcxproj.user
/build/
/resource.h
