/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.UI.RenderTest.VC.VC.opendb
/GLES2.UI.RenderTest.VC.db
/GLES2.UI.RenderTest.aps
/GLES2.UI.RenderTest.manifest
/GLES2.UI.RenderTest.opensdf
/GLES2.UI.RenderTest.rc
/GLES2.UI.RenderTest.sdf
/GLES2.UI.RenderTest.sln
/GLES2.UI.RenderTest.v12.sdf
/GLES2.UI.RenderTest.v12.suo
/GLES2.UI.RenderTest.vcxproj
/GLES2.UI.RenderTest.vcxproj.filters
/GLES2.UI.RenderTest.vcxproj.user
/GLES2.UI.RenderTest___*.VC.VC.opendb
/GLES2.UI.RenderTest___*.VC.db
/GLES2.UI.RenderTest___*.aps
/GLES2.UI.RenderTest___*.manifest
/GLES2.UI.RenderTest___*.opensdf
/GLES2.UI.RenderTest___*.rc
/GLES2.UI.RenderTest___*.sdf
/GLES2.UI.RenderTest___*.sln
/GLES2.UI.RenderTest___*.v12.sdf
/GLES2.UI.RenderTest___*.v12.suo
/GLES2.UI.RenderTest___*.vcxproj
/GLES2.UI.RenderTest___*.vcxproj.filters
/GLES2.UI.RenderTest___*.vcxproj.user
/build/
/resource.h
