/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.FramePacing.VC.VC.opendb
/GLES3.FramePacing.VC.db
/GLES3.FramePacing.aps
/GLES3.FramePacing.manifest
/GLES3.FramePacing.opensdf
/GLES3.FramePacing.rc
/GLES3.FramePacing.sdf
/GLES3.FramePacing.sln
/GLES3.FramePacing.v12.sdf
/GLES3.FramePacing.v12.suo
/GLES3.FramePacing.vcxproj
/GLES3.FramePacing.vcxproj.filters
/GLES3.FramePacing.vcxproj.user
/build/
/resource.h
