/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/Models/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/TessellationPNTriangles
/TessellationPNTriangles_c
/TessellationPNTriangles_d
/Vulkan.TessellationPNTriangles
/Vulkan.TessellationPNTriangles.VC.VC.opendb
/Vulkan.TessellationPNTriangles.VC.db
/Vulkan.TessellationPNTriangles.aps
/Vulkan.TessellationPNTriangles.manifest
/Vulkan.TessellationPNTriangles.opensdf
/Vulkan.TessellationPNTriangles.rc
/Vulkan.TessellationPNTriangles.sdf
/Vulkan.TessellationPNTriangles.sln
/Vulkan.TessellationPNTriangles.v12.sdf
/Vulkan.TessellationPNTriangles.v12.suo
/Vulkan.TessellationPNTriangles.vcxproj
/Vulkan.TessellationPNTriangles.vcxproj.filters
/Vulkan.TessellationPNTriangles.vcxproj.user
/Vulkan.TessellationPNTriangles___*.VC.VC.opendb
/Vulkan.TessellationPNTriangles___*.VC.db
/Vulkan.TessellationPNTriangles___*.aps
/Vulkan.TessellationPNTriangles___*.manifest
/Vulkan.TessellationPNTriangles___*.opensdf
/Vulkan.TessellationPNTriangles___*.rc
/Vulkan.TessellationPNTriangles___*.sdf
/Vulkan.TessellationPNTriangles___*.sln
/Vulkan.TessellationPNTriangles___*.v12.sdf
/Vulkan.TessellationPNTriangles___*.v12.suo
/Vulkan.TessellationPNTriangles___*.vcxproj
/Vulkan.TessellationPNTriangles___*.vcxproj.filters
/Vulkan.TessellationPNTriangles___*.vcxproj.user
/build/
/resource.h
