/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Models/
/Content/Shaders/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.ModelViewer.VC.VC.opendb
/Vulkan.ModelViewer.VC.db
/Vulkan.ModelViewer.aps
/Vulkan.ModelViewer.manifest
/Vulkan.ModelViewer.opensdf
/Vulkan.ModelViewer.rc
/Vulkan.ModelViewer.sdf
/Vulkan.ModelViewer.sln
/Vulkan.ModelViewer.v12.sdf
/Vulkan.ModelViewer.v12.suo
/Vulkan.ModelViewer.vcxproj
/Vulkan.ModelViewer.vcxproj.filters
/Vulkan.ModelViewer.vcxproj.user
/Vulkan.ModelViewer___*.VC.VC.opendb
/Vulkan.ModelViewer___*.VC.db
/Vulkan.ModelViewer___*.aps
/Vulkan.ModelViewer___*.manifest
/Vulkan.ModelViewer___*.opensdf
/Vulkan.ModelViewer___*.rc
/Vulkan.ModelViewer___*.sdf
/Vulkan.ModelViewer___*.sln
/Vulkan.ModelViewer___*.v12.sdf
/Vulkan.ModelViewer___*.v12.suo
/Vulkan.ModelViewer___*.vcxproj
/Vulkan.ModelViewer___*.vcxproj.filters
/Vulkan.ModelViewer___*.vcxproj.user
/build/
/resource.h
