/.vs/
/Content/Raymarch.frag.spv
/Content/Raymarch.vert.spv
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.FramePacing.VC.VC.opendb
/Vulkan.FramePacing.VC.db
/Vulkan.FramePacing.aps
/Vulkan.FramePacing.manifest
/Vulkan.FramePacing.opensdf
/Vulkan.FramePacing.rc
/Vulkan.FramePacing.sdf
/Vulkan.FramePacing.sln
/Vulkan.FramePacing.v12.sdf
/Vulkan.FramePacing.v12.suo
/Vulkan.FramePacing.vcxproj
/Vulkan.FramePacing.vcxproj.filters
/Vulkan.FramePacing.vcxproj.user
/Vulkan.FramePacing___*.VC.VC.opendb
/Vulkan.FramePacing___*.VC.db
/Vulkan.FramePacing___*.aps
/Vulkan.FramePacing___*.manifest
/Vulkan.FramePacing___*.opensdf
/Vulkan.FramePacing___*.rc
/Vulkan.FramePacing___*.sdf
/Vulkan.FramePacing___*.sln
/Vulkan.FramePacing___*.v12.sdf
/Vulkan.FramePacing___*.v12.suo
/Vulkan.FramePacing___*.vcxproj
/Vulkan.FramePacing___*.vcxproj.filters
/Vulkan.FramePacing___*.vcxproj.user
/build/
/resource.h
