/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.FramePacing.VC.VC.opendb
/Vulkan.FramePacing.VC.db
/Vulkan.FramePacing.aps
/Vulkan.FramePacing.manifest
/Vulkan.FramePacing.opensdf
/Vulkan.FramePacing.rc
/Vulkan.FramePacing.sdf
/Vulkan.FramePacing.sln
/Vulkan.FramePacing.v12.sdf
/Vulkan.FramePacing.v12.suo
/Vulkan.FramePacing.vcxproj
/Vulkan.FramePacing.vcxproj.filters
/Vulkan.FramePacing.vcxproj.user
/build/
/resource.h
