/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/BasicUI/
/Content/Fill/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.SdfFonts.VC.VC.opendb
/Vulkan.SdfFonts.VC.db
/Vulkan.SdfFonts.aps
/Vulkan.SdfFonts.manifest
/Vulkan.SdfFonts.opensdf
/Vulkan.SdfFonts.rc
/Vulkan.SdfFonts.sdf
/Vulkan.SdfFonts.sln
/Vulkan.SdfFonts.v12.sdf
/Vulkan.SdfFonts.v12.suo
/Vulkan.SdfFonts.vcxproj
/Vulkan.SdfFonts.vcxproj.filters
/Vulkan.SdfFonts.vcxproj.user
/Vulkan.SdfFonts___*.VC.VC.opendb
/Vulkan.SdfFonts___*.VC.db
/Vulkan.SdfFonts___*.aps
/Vulkan.SdfFonts___*.manifest
/Vulkan.SdfFonts___*.opensdf
/Vulkan.SdfFonts___*.rc
/Vulkan.SdfFonts___*.sdf
/Vulkan.SdfFonts___*.sln
/Vulkan.SdfFonts___*.v12.sdf
/Vulkan.SdfFonts___*.v12.suo
/Vulkan.SdfFonts___*.vcxproj
/Vulkan.SdfFonts___*.vcxproj.filters
/Vulkan.SdfFonts___*.vcxproj.user
/build/
/resource.h
