/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.DpiScale.VC.VC.opendb
/Vulkan.UI.DpiScale.VC.db
/Vulkan.UI.DpiScale.aps
/Vulkan.UI.DpiScale.manifest
/Vulkan.UI.DpiScale.opensdf
/Vulkan.UI.DpiScale.rc
/Vulkan.UI.DpiScale.sdf
/Vulkan.UI.DpiScale.sln
/Vulkan.UI.DpiScale.v12.sdf
/Vulkan.UI.DpiScale.v12.suo
/Vulkan.UI.DpiScale.vcxproj
/Vulkan.UI.DpiScale.vcxproj.filters
/Vulkan.UI.DpiScale.vcxproj.user
/Vulkan.UI.DpiScale___*.VC.VC.opendb
/Vulkan.UI.DpiScale___*.VC.db
/Vulkan.UI.DpiScale___*.aps
/Vulkan.UI.DpiScale___*.manifest
/Vulkan.UI.DpiScale___*.opensdf
/Vulkan.UI.DpiScale___*.rc
/Vulkan.UI.DpiScale___*.sdf
/Vulkan.UI.DpiScale___*.sln
/Vulkan.UI.DpiScale___*.v12.sdf
/Vulkan.UI.DpiScale___*.v12.suo
/Vulkan.UI.DpiScale___*.vcxproj
/Vulkan.UI.DpiScale___*.vcxproj.filters
/Vulkan.UI.DpiScale___*.vcxproj.user
/build/
/resource.h
