/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/DeBayer_FB
/DeBayer_Wayland
/DeBayer_X11
/FslSDKIcon.ico
/GLES2.DeBayer.VC.VC.opendb
/GLES2.DeBayer.VC.db
/GLES2.DeBayer.aps
/GLES2.DeBayer.manifest
/GLES2.DeBayer.opensdf
/GLES2.DeBayer.rc
/GLES2.DeBayer.sdf
/GLES2.DeBayer.sln
/GLES2.DeBayer.v12.sdf
/GLES2.DeBayer.v12.suo
/GLES2.DeBayer.vcxproj
/GLES2.DeBayer.vcxproj.filters
/GLES2.DeBayer.vcxproj.user
/GLES2.DeBayer___*.VC.VC.opendb
/GLES2.DeBayer___*.VC.db
/GLES2.DeBayer___*.aps
/GLES2.DeBayer___*.manifest
/GLES2.DeBayer___*.opensdf
/GLES2.DeBayer___*.rc
/GLES2.DeBayer___*.sdf
/GLES2.DeBayer___*.sln
/GLES2.DeBayer___*.v12.sdf
/GLES2.DeBayer___*.v12.suo
/GLES2.DeBayer___*.vcxproj
/GLES2.DeBayer___*.vcxproj.filters
/GLES2.DeBayer___*.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
